@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Mukta&display=swap');

body{
background-image: url("https://source.unsplash.com/user/erondu/1600x900");
/* background-repeat: no-repeat; */

background-size: cover;
}

li{
      display: inline-block;
font-weight: bolder;

color: rgb(187, 39, 13);
      margin-left: 10px;
  }

  .navbar:hover{ 
    font-family: 'Comic Neue', cursive;
font-family: 'Mukta', sans-serif;

color: rgb(148, 21, 21);

font-size: 50px;

margin-bottom:-10px;

border-radius: 10px;
  }


.jj{
  border-radius: 20px;
}

.tt{
  text-align: center;
  font-family: 'Comic Neue', cursive;
  font-family: 'Mukta', sans-serif;
  
  color: rgb(134, 54, 54);
  
  font-size: 50px;
}

.tt:hover{
  text-align: center;
  font-family: 'Comic Neue', cursive;
  font-family: 'Mukta', sans-serif;
  
  color: rgb(223, 13, 13);
  
  font-size: 100px;
}



a{
  text-decoration: none;
  color: aliceblue;
}

.otp
{
  width: auto;
  height: 500px;
justify-content: space-between;

color: rgb(75, 130, 180);
font-size: 50px;
text-align: center;
}


.b1{
  height: 60px;
  width: 100px;

  background-color: aliceblue;
  color: black;
  display: inline-block;

  font-size: 45px;

  border-radius: 10px;
} 

.bt{
  margin-top: 10px;
border-radius: 20px;
  height: 50px;
  width: 80px;

  color: black;
  font-size: 20px;
}

.clc
{
  color: rgb(10, 84, 148);
  font-size: 50px;
  float: right;
}

.spc{
  color: rgb(40, 72, 100);
  font-size: 50px;
  text-align: center;
}

.qt{

  color: antiquewhite;
  text-align: center;
  font-size: 45px;
}

.bt2{
  margin-top: 10px;
border-radius: 20px;
  height: 50px;
  width: 80px;

  color: black;
  font-size: 20px;
  float:right;
}